*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
}

table {
    margin: 40px auto;
    width: 100%;
    color: #242424;
    background: white;
    border: 1px solid rgb(44, 44, 44);
    font-size: 12pt;
    border-collapse: collapse;
}

table thead th,
table tfoot th {
    color: #3c3c3c;
    background: rgb(245 245 245);
}

table caption {
    padding: .5em;
}

table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.wrapper .action {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

time {
    display: block;
    font-size: 0.8em;
    color: #999;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

fieldset {
    min-width: 350px;
    border-radius: 6px;
    margin-bottom: 15px;
}

input {
    border: none;
    padding: 5px 4px;
    font-size: 15px;
}

input:focus {
    outline: 0;
}

.centered-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-top: -40px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

button,
.button {
    background: #fff;
    border: 1px solid #000;
    font-size: 14px !important;
    min-width: 100px;
    min-height: 45px;
    display: flex;
    text-align: center;
    padding: 5px 4px;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}

footer {
    margin-bottom: 20px;
}

.checkbox-wrapper {
    align-self: flex-start;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

.profile-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    margin: 20px auto;
}

.profile-picture {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 40px;
}

.profile-picture img {
    max-width: 400px;
    border-radius: 5px;
}

.profile-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}